<html>
	<head>
		<title>MongoDB/Spring Boot tutorial from tests4geeks.com</title>
		<style>
			table, th, td {
			   border: 1px solid black;
			   border-spacing: 0px;
			}
			th, td {
				padding: 10px;
			}
		</style>
	</head>
	<body>
		<table>
			<thead>
				<tr>
					<th>Make</th>
					<th>Model</th>
					<th>Description</th>
					<th>Year</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="car : ${carList}">
					<td th:text="${car.make}"></td>
					<td th:text="${car.model}"></td>
					<td th:text="${car.description}"></td>
					<td th:text="${car.year}"></td>
				</tr>
			</tbody>
		</table>
		<br />
		<h2>Add User</h2>
		<form action="/register" method="POST">
			aadharNo <input type="text" id="aadharNo" name="aadharNo" /><br />
			password <input type="text" id="password" name="password" /><br />
			<input type="submit" />
		</form>
		<h2>Search for cars</h2>
		<form action="/search" method="POST">
			<input type="text" name="search" id="search" th:value="${search}" />
			<input type="submit" value="Search" />
		</form>
	</body>
</html>