<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Bootstrap Case</title>
      <meta charset="utf-8"/>
      <meta name="viewport" content="width=device-width, initial-scale=1"/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   </head>
   <body>
      <!-- Start main-content -->
      <div class="main-content">
            <div class="container">
            <div class="row">
               <div class="col-md-8 col-md-offset-2 ">
                     <div class="tab-pane fade in p-15 "
                        id="login-tab">
                        <h4 class="text-gray mt-0 pt-5"> Login</h4>
                        <p>Enter Adhar No and password to login.</p>
                        <form action="/login" method="POST">
                           <div class="row ">
                              <div class="form-group col-md-6 ">
                                 <label for="form_adhar_no">Adhar No</label>
                                 <input
                                    id="aadharNo" name="aadharNo"
                                    class="form-control" type="text"/>
                              </div>
                           </div>
                           <div class="row">
                              <div class="form-group col-md-6 ">
                                 <label for="form_password">Password</label>
                                 <input id="password"
                                    name="password" class="form-control"
                                    type="password"/> 
                              </div>
                           </div>
                           <div class="row">
                           <div class="checkbox  pull-center col-md-6">
                              <label for="form_checkbox">
                              <input id="form_checkbox" name="form_checkbox"
                                 type="checkbox"/> Remember me </label>
                           </div>
                           </div>
                           <div class="row">
                           <div class="form-group   col-md-6">
                              <button type="submit" class="btn btn-dark btn-sm">Login</button>
                           </div>
                            </div>
                           <div class="row">
                           <div class="clear col-md-6">
                              <a class="text-theme-colored font-weight-600 font-12"
                                 href="#">Forgot Your Password?</a>                    
                           </div>
                           </div>
                        </form>
                     </div>
                       
                        </div>
                     </div>
                  </div>
               </div>
   </body>
</html>